.pageContainer {
  background: var(--ant-color-bg-base);
  border-radius: var(--ant-border-radius-sm);
  min-height: calc(100vh - 70px);
}

.pageTitleContainer {
  padding: 16px 24px;
  border-bottom: 1px solid var(--ant-color-border);
}

.pageContent {
  padding: 24px;
  max-height: calc(100vh - 132px);
  overflow: auto;
}
